#!/bin/bash

# BAU stuff, shortcuts and some string manipulation handlers
alias more=less
alias ls='ls --color=tty'
alias ll='ls -ltr'
alias lsh='ls -lhXG' # Long human readable
alias bashrc='source ~/.bashrc'
alias dos2unix='perl -pi -e "tr/\r//d"'
alias unix2dos='perl -pi -e "s/\n$/\r\n/g"'
alias mac2unix='perl -pi -e "tr/\r/\n/d"'
alias root="sudo su -"
alias igrep='grep -i'
alias mkdir='mkdir -p'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias .5='cd ../../../../..'
alias .6='cd ../../../../../..'
alias prettyjson='python -m json.tool'
alias dl="cd ~/Downloads"
alias g="git"
alias h="history"

# Single monitor
alias singlemonitor='xrandr -s 0 && kill $(ps -ef | grep "polybar main-right" | grep -v grep | awk "{ print $2 }") &>/dev/null'

# Dual monitor (righ/left)
alias dualmonitor-left='xrandr --auto --output eDP-1 --mode 1920x1080 --left-of HDMI-2'
alias dualmonitor-right='xrandr --auto --output eDP-1 --mode 1920x1080 --right-of HDMI-2'
alias dualmonitor-above='xrandr --auto --output eDP-1 --mode 1920x1080 --below HDMI-2'
alias dualmonitor-below='xrandr --auto --output eDP-1 --mode 1920x1080 --above HDMI-2'

# reset feh-background
alias nobg='xsetroot -solid "#000000"'

# Vim / Vi setup
set -o vi
if command -v vim &> /dev/null 2>&0 ; then 
    export EDITOR=vim
    alias vi="vim"
else 
    export EDITOR=vi
    alias vim="vi"
fi

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# cat syntax highlight
alias pcat='source-highlight --failsafe -f esc --lang-def=makefile.lang --style-file=esc.style -i '

# Source Kubectl aliases (https://github.com/ahmetb/kubectl-aliases)
[ -f "$HOME/.dotfiles/files/kubectl_aliases" ] && source "$HOME/.dotfiles/files/kubectl_aliases"

# Change Kubernetes namespace context
alias kcd='kubectl config set-context $(kubectl config current-context) --namespace '

# Get events in a sorted manner
alias kevents='kubectl get events --sort-by='\''.metadata.creationTimestamp'\'''

# docker-machine quick alias
alias dm='docker-machine'

# BFG - Removes large or troublesome blobs like git-filter-branch does,
# but faster, and written in Scala
#
# --> Download it from 'https://rtyley.github.io/bfg-repo-cleaner/'
#     and place it on the directory of your choice.
[ -f "$HOME/Downloads/bfg-1.13.0.jar" ] && \
      alias bfg='java -jar $HOME/Downloads/bfg-1.13.0.jar'


# Creates a new tmux session
alias tn='tmux new -s LOCAL-$(date "+%H%M%S")'

# Attaches tmux to the last session; creates a new session if none exists.
alias t='tmux attach || tn'

# Attaches tmux to a session (example: ta portal)
alias ta='tmux attach -t'

# Creates a new tmux session
alias tn='tmux new -s LOCAL-$(date "+%H%M%S")'

# Lists all ongoing tmux sessions
alias tl='tmux list-sessions'

# untar
alias untar='tar xvf'

# @janmoesen’s ProTip™s (borrowed from jessfraz dotfiles)
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	# shellcheck disable=SC2139,SC2140
	alias "$method"="lwp-request -m \"$method\""
done

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# vhosts
alias hosts='sudo vim /etc/hosts'

# URL-encode strings (borrowed from jessfraz dotfiles)
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IBM Cloud cli
alias ic="ibmcloud"

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'


# EOF
