# Spelling, sops, personal tmux profiles, fzf binaries
.fzf/
.tmuxp/
*.dec
*.spl

# BFG
..bfg-report/

# LazyVim
*.log
./nvim/*.log
./nvim/.repro
./nvim/.tests
./nvim/data
./nvim/debug
./nvim/doc/tags
./nvim/foo.*
./nvim/tt.*
.repro
.tests
data
debug
doc/tags
foo.*
tt.*

# Node
node_modules/
package.json
package-lock.json

# Compiled Lua, Luarocks
*.src.rock
/.luarocks
/lua
/lua.bat
/lua_modules
/luarocks
/luarocks.bat
luac.out

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects
*.dll
*.so
*.so.*
*.dylib
.DS_Store

# Executables and binaries in general
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.zip
*.tar.gz

# OpenCode
opencode.db
opencode.db-*

# Yazi plugins
yazi/plugins/*
yazi/plugins/*/*
