.fzf/
.tmuxp/
*.dec
*.spl

# LazyVim
./nvim/tt.*
./nvim/.tests
./nvim/doc/tags
./nvim/debug
./nvim/.repro
./nvim/foo.*
./nvim/*.log
./nvim/data

# Node
node_modules/
package.json
package-lock.json

# BFG
..bfg-report/

# Hammerspoon Spoons
hammerspoon/Spoons/
