# Spelling, sops, personal tmux profiles, fzf binaries
.fzf/
.tmuxp/
*.dec
*.spl

# BFG
..bfg-report/

# LazyVim
./nvim/tt.*
./nvim/.tests
./nvim/doc/tags
./nvim/debug
./nvim/.repro
./nvim/foo.*
./nvim/*.log
./nvim/data

# Node
node_modules/
package.json
package-lock.json

# Compiled Lua, Luarocks
luac.out
/luarocks.bat
/lua.bat
/lua_modules
/.luarocks
*.src.rock

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects
*.dll
*.so
*.so.*
*.dylib
.DS_Store

# Executables and binaries in general
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.zip
*.tar.gz
